/*footer*/
.footer {
    background-color: #FEFAF5; 
    padding: 20px;
    text-align: center;
  }
  
  .footer__title {
    color: #335576; /* Color for footer title */
  }
  
  .footer__text {
    color: #DB7A4E; /* Color for footer text */
  }
  
  .footer__text--2 {
    color: #335576; /* Color for footer text */
  }