body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden; /* Prevents scrolling */
    position: relative; /* Ensure body is positioned relatively */
}

header, body, footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }